<div class="p-3">
  @if (loadingService.isLoading()) {
    <div class="spinner-grow" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  }
  <div class="card-body">
  <input type="text" [(ngModel)]="query" class="form-control m-2" style="display: inline; width:80%">
    <button (click)="askAgentStream()" class="btn btn-primary" style="display: inline" >
      <i class="bi bi-search"></i>
    </button >
</div>
  <div class="card-body">
    @if (response$ | async; as botResponse){
      @if (botResponse.type == 'Response'){
        <markdown [data]="botResponse.content"></markdown>
      }
    }
  </div>
</div>
